/* Tags resetment */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

/* Reuseable classes */
.flex-row {
    display: flex;
    flex-direction: row;
    
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-start{
    justify-content: flex-start;
    align-items: center;
}

.center{
    justify-content: center;
    align-items: center;
}

.between{
    justify-content: space-between;
    align-items: center;
}

.w-100{
    width: 100%;
}

.auto{
    margin: auto;
}
/* Navigation list active styles */
.active{
    width: calc(100% - 23px);
    background-color: #635fc7;
    border-radius: 0px 100px 100px 0px;
}

.active li{
    color: #FFF !important;
}

.active svg path{
    fill: #FFF
}

.board-icon-purple path{
    fill: #635FC7
}

.btn-hover:hover{
    background-color: #A8A4FF !important;
}

.text{
    color: #828FA3 !important;
    font-weight: 600;
}

/****** navigation light mode hover ******/
.hover-light:hover{
    background-color: rgb(239,239,249);
    border-radius: 0px 100px 100px 0px;
}

.hover-light:hover .text{
    color: #635FC7 !important;
}

.hover-light:hover svg path {
    fill: #635FC7 !important;
}

/****** navigation dark mode hover ******/
.hover-dark:hover{
    background-color: #FFF;
    border-radius: 0px 100px 100px 0px;
}

.hover-dark:hover .text{
    color: #635FC7 !important;
}

.hover-dark:hover svg path {
    fill: #635FC7 !important;
}

/* Switch button background hover state */
.switch{
    background-color: #635fc7 !important;
}

.switch:hover{
    background-color: #A8A4FF !important;
}

/* Show sidebar hover style */
.show-sidebar path:first-child:hover{
    fill: #A8A4FF;
}

/* Board column task initial and hover states */
.task-title{
    font-weight: 700;
    /* color: ; */
}

.hover-task:hover .task-title{
    color: #635FC7 !important;
}

.new-col{
    color: #828FA3 !important;
}

.new-col:hover{
    color: #635FC7 !important;
}